*{
    font-family: 'Monserrat', sans-serif;
    color: #011b1e;
}

.title {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 40px;
    h2 {
        font-size: 32px;
        font-family: 'Esteban', sans-serif;
    }
}
